In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier as dtree
from sklearn.tree import export_graphviz
import pydotplus
from sklearn.preprocessing import LabelEncoder
from six import StringIO

In [9]:
df = pd.read_csv("tree1.csv")
df

    id    age  income  gender marital_status buys
0    1    <21    High    Male         Single   No
1    2    <21    High    Male        Married   No
2    3  21-35    High    Male         Single  Yes
3    4    >35  Medium    Male         Single  Yes
4    5    >35     Low  Female         Single  Yes
5    6    >35     Low  Female        Married   No
6    7  21-35     Low  Female        Married  Yes
7    8    <21  Medium    Male         Single   No
8    9    <21     Low  Female        Married  Yes
9   10    >35  Medium  Female         Single  Yes
10  11    <21  Medium  Female        Married  Yes
11  12  21-35  Medium    Male        Married  Yes
12  13  21-35    High  Female         Single  Yes
13  14    >35  Medium    Male        Married   No

In [10]:
x = df.iloc[:,:-1]
x

    id    age  income  gender marital_status
0    1    <21    High    Male         Single
1    2    <21    High    Male        Married
2    3  21-35    High    Male         Single
3    4    >35  Medium    Male         Single
4    5    >35     Low  Female         Single
5    6    >35     Low  Female        Married
6    7  21-35     Low  Female        Married
7    8    <21  Medium    Male         Single
8    9    <21     Low  Female        Married
9   10    >35  Medium  Female         Single
10  11    <21  Medium  Female        Married
11  12  21-35  Medium    Male        Married
12  13  21-35    High  Female         Single
13  14    >35  Medium    Male        Married

In [11]:
y = df.iloc[:,-1].values
y

array(['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'No'], dtype=object)

In [12]:
x = x.apply(LabelEncoder().fit_transform)
x

    id  age  income  gender  marital_status
0    0    1       0       1               1
1    1    1       0       1               0
2    2    0       0       1               1
3    3    2       2       1               1
4    4    2       1       0               1
5    5    2       1       0               0
6    6    0       1       0               0
7    7    1       2       1               1
8    8    1       1       0               0
9    9    2       2       0               1
10  10    1       2       0               0
11  11    0       2       1               0
12  12    0       0       0               1
13  13    2       2       1               0

In [14]:
clf = dtree()

In [15]:
clf.fit(x.iloc[:,1:5] , y)

DecisionTreeClassifier()

In [16]:
x_in = np.array([1,1,0,0])
y_pred = clf.predict([x_in])
y_pred

array(['Yes'], dtype=object)

In [17]:
dot_data = StringIO()
export_graphviz(clf , out_file = dot_data)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('tree_latest.png')

True